<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:font-style="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<p><h4> Dear <span th:text="${name}"> </span>,</h4></p>

<p>
    Welcome to Wellvis, a platform where people come to find appropriate, right and timely answers to their health issues.
    It is our pleasure to have you join us in helping people get required health advice, learn about their health and wellness, and also to get empowered in making better health decisions.

</p>

<p>
    We will activate your profile as a health worker after due verification of your details and confirmation of your certification.
</p>

<p>
    In the meantime you can answer (or ask) questions, and browse the site while we activate your health worker badge.
    You can also connect with health experts and other people to get on issues ranging from nutrition, fitness, wellness,
    skin care to core medical issues. 

</p>

<p>
    Watch out for our support group feature where you can connect, learn and help different people who have similar
    health challenges in a closed group format. 
</p>


<p style="color: red; font-family: Verdana">
    <b>PLEASE NOTE:</b>
    Wellvis is meant for health education and advice only, we will expect you to be circumspect about what advice you give and drugs that you mention. 
    It is not meant to be a substitute for visiting a hospital. Let us maintain the dignity of our professions.
</p>
<br/>
<p font-style="italic">
    Kindly invite your friends and other health workers, we have a lot in the pipeline to help you get more clients,
    offer better health services and help people live healthier lives.
</p>

<br/>
<br/>
<p>
    The Wellvis Team.

</p>

</body>
</html>