<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:font-style="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<p><h4> Dear <span th:text="${name}"> </span>,</h4></p>

<p>
    You have requested to change your password on We||vis.,
    Kindly find below your new password
    <!--and click the following link to change your password.-->
</p>


<p>
     New Password :<b><span th:text="${password}"></span></b>
</p>


<!--<p>-->
    <!--<a th:href="${link}"><b><span th:text="${link}"></span></b></a>-->
<!--</p>-->






<br/>

<p font-style="italic">
    In cases of a medical emergency, please visit a hospital  or call 112 (Lagos, Nigeria) immediately!
</p>
<br/>
<p font-style="italic">
    Powered By Wellvis
</p>

</body>
</html>